body {
  background-color: skyblue;
}

.containers {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.gc {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin: 25px;
}

input,
select {
  background-color: skyblue;
  font-style: italic;
  color: white;
}
textarea {
  background-color: skyblue;
  color: white;
}
.column {
  width: 20%;
}

/* entered text will be colored white, but I couldn't get the placeholder values to be colored before typing occurs */
/* input#phone-number {
  color: white;
} */
/* textarea.type {
  color: white;
} */
