body {
  background-color: skyblue;
}

.containers {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.gc {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin-top: 20%;
}
